<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage(),'hide':sidebarservice.toggled}">
  <div class="sidebar-content">
    <div class="sidebar-search"></div>
    <div class="sidebar-menu">
      <ul>
        <li *ngFor="let menu of menus"
          [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
          <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
          <!-- If manu has a link -->
          <ng-container *ngIf="menu.link">
            <a *ngIf="menu.type !== 'header'" [routerLink]="menu.link" (click)='toggle(menu); toggleMenu()'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
          </ng-container>
          <!-- If manu has not a link -->
          <ng-container *ngIf="!menu.link">
            <a *ngIf="menu.type !== 'header'" href="#" (click)='toggle(menu);false'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
          </ng-container>
          <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
            <ul>
              <li *ngFor="let submenu of menu.submenus">
                <a [routerLink]="submenu.link" *ngIf="submenu.link; else blankSubmenu" (click)="toggleMenu()">
                  {{submenu.title}}
                  <span *ngIf="submenu.badge" class="badge badge-pill"
                    [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                </a>
                <ng-template #blankSubmenu>
                  <a href="#" (click)="false">{{submenu.title}}<span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span></a>
                </ng-template>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
