@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./app/app.theme.scss";

// Bootstrap Custom Starts here
.dropdown-item.active,
.dropdown-item:active {
  background: $secondary-color;
  color: $primary-font-color;
}
// Bootstrap Custom Ends here
*,
:after,
:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
$modifier: 0;
@while $modifier < 101 {
  .w-#{$modifier} {
    width: $modifier * 1% !important;
  }
  .h-#{$modifier} {
    height: $modifier * 1% !important;
  }
  .m-#{$modifier} {
    margin: $modifier * 1px !important;
  }
  .mt-#{$modifier} {
    margin-top: $modifier * 1px !important;
  }
  .mr-#{$modifier} {
    margin-right: $modifier * 1px !important;
  }
  .mb-#{$modifier} {
    margin-bottom: $modifier * 1px !important;
  }
  .ml-#{$modifier} {
    margin-left: $modifier * 1px !important;
  }
  .mlr-#{$modifier},
  .mrl-#{$modifier} {
    margin-left: $modifier * 1px !important;
    margin-right: $modifier * 1px !important;
  }
  .mtb-#{$modifier},
  .mbt-#{$modifier} {
    margin-top: $modifier * 1px !important;
    margin-bottom: $modifier * 1px !important;
  }
  .p-#{$modifier} {
    padding: $modifier * 1px !important;
  }
  .pt-#{$modifier} {
    padding-top: $modifier * 1px !important;
  }
  .pr-#{$modifier} {
    padding-right: $modifier * 1px !important;
  }
  .pb-#{$modifier} {
    padding-bottom: $modifier * 1px !important;
  }
  .pl-#{$modifier} {
    padding-left: $modifier * 1px !important;
  }
  .plr-#{$modifier},
  .prl-#{$modifier} {
    padding-left: $modifier * 1px !important;
    padding-right: $modifier * 1px !important;
  }
  .mtb-#{$modifier},
  .mbt-#{$modifier} {
    padding-top: $modifier * 1px !important;
    padding-bottom: $modifier * 1px !important;
  }
  $modifier: $modifier + 1;
}
$modifier: 0;
@while $modifier < 101 {
  .w-#{$modifier} {
    width: $modifier * 1% !important;
  }
  $modifier: $modifier + 1;
}
$modifier: 0;
@while $modifier < 500 {
  .w-#{$modifier}-px {
    width: $modifier * 1px !important;
  }
  $modifier: $modifier + 1;
}

button {
  &.btn {
    @include secondary-button;
    &.primary {
      @include primary-button;
    }
  }
  &.flat {
    border: 0;
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
  }
  cursor: pointer;
}
.k-form {
  .k-form-fieldset {
    margin-top: 0;
    margin-bottom: 10px;
    kendo-label {
      label {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .k-textbox {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      height: 40px;
      color: #{primary-font-color};
      font-size: 14px;
      font-weight: normal;
    }
    kendo-datepicker,
    kendo-timepicker {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      .k-picker-wrap {
        .k-input {
          height: 40px;
          color: #{primary-font-color};
          font-size: 14px;
          font-weight: normal;
        }
      }
      .k-icon {
        &.k-i-calendar:before {
          content: "\e921";
          font-family: "OPRS" !important;
        }
        &.k-i-clock:before {
          content: "\e922";
          font-family: "OPRS" !important;
        }
      }
    }
    &.input-suffix {
      position: relative;
      .flat {
        position: absolute;
        height: 100%;
        display: flex;
        width: 40px;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
      }
    }
  }
}
